.observation-list{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    margin: 1rem 2rem;
}

.card{
    height: 24rem;
    width: 24rem;
    margin: 1rem auto;
    min-width: 10rem;
}

.card-image{
    max-height: 12em;
    max-width: 15em;
    margin: auto;
    object-fit: scale-down;
}
  
.input{
    max-width: 50rem;
    margin: auto;
}

.sample-data{
    margin-top: 1rem;
    color: red;
}